.fancybox-close {
  background: url(../img/ico-close.svg) no-repeat center;
}

.fancybox-skin {
  border-radius: 0;
}

.fancybox-close {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50px;
  right: 55px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fancybox-close:after {
  color: #000;
  font-weight: 300;
  font-size: 40px;
  display: block;
  transform: rotate(45deg);
}

.forms__input_error ~ .forms__error-message {
  display: block;
}

.forms {
  display: none;
  box-sizing: border-box;
  padding: 1.4rem;
  background: #fff;
}

.forms__title {
  font-size: 1.875rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 24px;
  color: #000;
}

.forms-header {
  border-bottom: 1px solid #e4e8ea;
}

.forms-text-cont {
  display: flex;
  justify-content: flex-start;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  letter-spasing: 0.04rem;
  margin-bottom: 44px;
}

.forms__text {
  max-width: 540px;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.forms-wrap {
  display: flex;
  flex-wrap: wrap;
}

.forms-wrap--bot {
  display: flex;
  align-items: center;
}

.forms-input-cont {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 47.2%;
  min-width: 10px;
  position: relative;
  margin-bottom: 3.08642vh;
}

.forms-input-cont--file, .forms-input-cont--textarea {
  width: 100%;
  padding: 0 !important;
}

.forms-input-cont--file {
  position: relative;
}

.forms__input {
  box-sizing: border-box;
  height: 49px;
  width: 100%;
  border: 1px solid #e4e8ea;
  border-radius: 1px;
  padding: 0 0.88542vw;
  outline: none;
}

.forms__input_error {
  border-color: #ff0024;
}

.forms__input_error + .forms__checkbox-label {
  color: #ff0024;
}

.forms__input[required] + .forms__label:after {
  content: "*";
  color: #31c5bd;
}

.forms__input--select {
  -webkit-appearance: none;
  background: url("../img/ico-arrow-select.svg") center right 15px no-repeat, #fff;
  color: #000;
}

.forms__input--file {
  display: none;
}

.forms__input--file-support {
  width: 77.34%;
}

.forms__input--textarea {
  max-width: 100%;
  height: 14.60905vh;
  padding-top: 5px;
  padding-bottom: 5px;
}

.forms__file-formats {
  order: -1;
  margin-top: 1.54321vh;
  font-size: 0.875rem;
  color: #777777;
}

.forms__label {
  margin-bottom: 1.85185vh;
}

.forms__label--file {
  order: 1;
  pointer-events: none;
}

.forms__label--file:before {
  content: attr(data-btn-text);
  position: absolute;
  pointer-events: all;
  background: url("../img/ico-view.png") center left 15px no-repeat, #f4f4f4;
  right: 0;
  top: 33px;
  cursor: pointer;
  height: 49px;
  width: 18.57%;
  text-align: right;
  line-height: 49px;
  box-sizing: border-box;
  padding-right: 0.83333vw;
}

.forms-checkbox {
  position: relative;
}

.forms-checkbox:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  height: 23px;
  width: 23px;
  border: 1px solid #e4e8ea;
  border-radius: 1px;
  background: #fff;
}

.forms__checkbox {
  opacity: 0;
  position: absolute;
}

.forms__checkbox:checked + label:before, .forms__checkbox:checked + label:after {
  opacity: 1;
}

.forms__checkbox-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 45px;
  cursor: pointer;
  height: 32px;
  display: flex;
}

.forms__checkbox-label span {
  align-self: center;
}

.forms__checkbox-label:before, .forms__checkbox-label:after {
  content: "";
  position: absolute;
  background: #31c5bd;
  transition: opacity .5s ease;
  opacity: 0;
}

.forms__checkbox-label:before {
  height: 2px;
  width: 10px;
  top: 11px;
  left: 5px;
  transform-origin: left;
  transform: rotate(45deg);
}

.forms__checkbox-label:after {
  height: 2px;
  width: 10px;
  top: 11px;
  left: 8px;
  transform-origin: right;
  transform: rotate(-45deg);
}

.forms__req-text {
  text-align: right;
}

.forms__req-text:before {
  content: "* ";
  color: red;
  font-size: 0.875rem;
}

.forms-submit-cont {
  display: flex;
  justify-content: flex-start;
  margin-top: 4.42387vh;
}

.forms__submit {
  color: #fff;
  border: 0;
  cursor: pointer;
  background: #27b0a8;
  font-size: 1rem;
  padding: 1.33745vh 2.08333vw;
  border-radius: 35px;
  margin-left: 0;
}

.forms__error-message {
  border: 1px solid #d4d4d4;
  background: #fff;
  color: #000;
  padding: 7px 10px;
  border-radius: 7px;
  position: absolute;
  bottom: 45px;
  right: -6px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.forms__error-message:after {
  content: "";
  background: url("../img/error-triangle.png") no-repeat;
  position: absolute;
  top: calc(100% - 0px);
  right: 19px;
  height: 8px;
  width: 15px;
}

.forms__error-message--file {
  bottom: initial;
  right: 21%;
  top: 0;
}

.forms__error-message-icon {
  display: block;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #ff0024;
  height: 19px;
  width: 19px;
  background: #fff;
  bottom: -32px;
  right: 16px;
}

.forms__error-message-icon:after, .forms__error-message-icon:before {
  content: "";
  position: absolute;
  width: 1px;
  background: #ff0024;
  left: calc(50% - 1px);
}

.forms__error-message-icon:before {
  top: 4px;
  height: 8px;
}

.forms__error-message-icon:after {
  bottom: 4px;
  height: 2px;
}

@media screen and (max-width: 767px) {
  .fancybox-close {
    right: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 667px) {
  .forms__title {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=forms.css.map */
