body {
  line-height: 1.3 !important;
}

.forms__title {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.forms-text-cont {
  font-size: 1rem;
}

.forms-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 30px -30px;
}

.forms-input-cont {
  display: flex;
  flex-direction: column-reverse;
  width: calc((100% - 30px * 2) / 2);
  margin: 0 0 30px 30px;
}

.forms-input-cont--textarea textarea {
  width: 100% !important;
  max-width: 100%  !important;
  min-width: 100% !important;
}

.forms__input {
  height: 45px;
  border: 2px solid #000;
  padding: 0 10px;
}

.forms__label {
  margin-bottom: 5px;
}

.forms__submit {
  width: 200px;
  height: 60px;
  display: block;
  background: #000;
  color: #fff;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}

.forms-submit-cont {
  margin-top: 30px;
}

.forms-submit-info {
  margin-top: 20px;
}

.bread-crumbs__link {
  position: relative;
}

.bread-crumbs__link:after {
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  transform: rotate(45deg);
  margin: 0 5px;
}

.access {
  font-size: 17px;
  color: #000;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

.special {
  margin-left: auto;
}

a {
  cursor: pointer;
  color: currentColor;
}

* {
  text-decoration: none;
  transform: none;
  box-sizing: border-box;
}

div[style^="background-"] {
  background-image: none !important;
}

li {
  list-style: none;
}

.a-fontsize {
  display: flex;
  align-items: center;
}

.a-fontsize dt {
  margin-right: 10px;
}

.a-fontsize a {
  text-decoration: none;
  height: 31px;
  margin-left: 5px;
  display: inline;
  float: left;
  background-image: url("../img/fontsize.png");
  position: relative;
}

.a-fontsize-small {
  width: 20px;
}

.a-fontsize-normal {
  width: 26px;
  background-position: -20px 0;
}

.a-fontsize-big {
  width: 26px;
  background-position: -46px 0;
}

a.a-fontsize-small:hover, a.a-fontsize-small a.a-fontsize-small {
  background-position: 0 -31px;
}

a.a-fontsize-normal:hover, a.a-fontsize-normal a.a-fontsize-small {
  background-position: -20px -31px;
}

a.a-fontsize-big:hover, a.a-fontsize-big a.a-fontsize-small {
  background-position: -46px -31px;
}

.a-colors {
  margin-left: 13px;
  display: flex;
  align-items: center;
}

.a-colors dt {
  margin-right: 10px;
}

.a-colors a {
  height: 31px;
  margin-left: 5px;
  display: inline;
  float: left;
  background-image: url("../img/colors.png");
  position: relative;
  top: -3px;
  text-decoration: none;
  width: 26px;
}

.a-color2 {
  background-position: -26px 0;
}

.a-color3 {
  background-position: 100% 0;
}

.sub-menu__list li:not(:first-child) {
  margin-top: 10px;
}

.head-special {
  padding: 21px;
  background: linear-gradient(to top, #eee 0%, #fff 55%);
}

.head-special-cont {
  position: sticky;
  top: 0;
}

.head-special__bot {
  display: none;
}

.head-special__top {
  padding: 20px 0;
  text-align: right;
  color: #fff;
}

img, svg, .head-links__soc, .main-logo__img, .header-slider, .footer-menu__cont, .phone__link, .about-foto__list, .aside {
  display: none;
}

.special__body .head-special-cont {
  display: block !important;
}

.special__body .head-special__top {
  display: none;
}

.special__body .head-special__bot {
  display: block;
}

.fontsize-small {
  font-size: 16px;
}

html.fontsize-small {
  font-size: 100%;
}

html.fontsize-small a.a-fontsize-small {
  background-position: 0 -31px;
}

html.fontsize-normal {
  font-size: 115%;
}

html.fontsize-normal a.a-fontsize-normal {
  background-position: -20px -31px;
}

html.fontsize-big {
  font-size: 129%;
}

html.fontsize-big a.a-fontsize-big {
  background-position: -46px -31px;
}

.dev__img {
  max-width: 65px;
}

body {
  font-family: "Roboto";
}

body.color1 {
  color: #000;
}

body.color1 a {
  color: #000;
}

body.color1 .a-color1 {
  background-position: 0px 31px;
}

body.color2 {
  background: #000;
  color: #fff !important;
}

body.color2 .a-color2 {
  background-position: -26px 31px;
}

body.color2 * {
  border-color: #fff !important;
}

body.color2 .basepage__image.image--right:before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

body.color2 .dev__img {
  filter: invert(0);
}

body.color2 .search, body.color2 .search__input-cont form {
  border: 1px solid #fff;
}

body.color2 .head-bot__left + .search {
  display: none;
}

body.color3 {
  background: #9dd1ff;
}

body.color3 .a-color3 {
  background-position: -52px 31px;
}

.wrapper {
  width: 960px;
  margin: 0 auto !important;
}

.main-logo {
  margin-bottom: 30px;
}

.main-logo__text {
  font-size: 1.875rem;
}

.main-logo__text > div {
  font-size: 1rem;
}

.search {
  display: flex;
}

.search__label {
  font-size: 1.125rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.search__input {
  width: calc(100% - 150px);
  height: 60px;
  border: 2px solid #000;
  padding: 0 15px;
}

.search__input-cont {
  order: 2;
  margin-top: 30px;
}

.search__input-cont form {
  display: flex;
}

.search__submit {
  width: 150px;
  height: 60px;
  display: block;
  background: #000;
  color: #fff;
  font-size: 1rem;
  border: 0;
}

.one-links {
  order: 1;
  width: 200px;
}

.one-links .main-nav__item {
  width: 100% !important;
  margin-left: 0 !important;
}

.one-links .main-nav__item:not(:first-child) {
  margin-top: 15px;
}

.sub-menu__item:not(:first-child) {
  margin-top: 10px;
}

.head {
  display: flex;
  flex-direction: column;
}

.head-links {
  display: none;
}

.head-special-cont {
  order: 2;
}

.head-top {
  order: 4;
}

.head-bot {
  order: 4;
  margin-top: 30px;
}

.head-bot__right {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.head-top__menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -20px;
}

.head-top__menu-item {
  width: calc((100% - 20px * 6) / 6);
  flex: 1 1 auto;
  margin: 0 0 0 20px;
}

.head-top__menu-link {
  font-size: 1.125rem;
  font-weight: bold;
}

.head .main-nav__item {
  width: calc((100% - 20px * 4) / 4);
  flex: 1 1 auto;
  margin: 0 0 20px 20px;
}

.head .main-nav__item:nth-child(6) {
  display: none;
}

.head .main-nav__link {
  font-size: 1.125rem;
  font-weight: bold;
}

.head-top {
  margin-top: 30px;
}

.head-top__menu-list > .main-nav__item:nth-child(1) {
  order: 2;
  width: 100%;
  margin-top: 30px;
}

.head-top__menu-list > .main-nav__item:nth-child(1) .sub-menu__list {
  column-count: 3;
}

.head-top__menu-list > .main-nav__item:nth-child(1) .sub-menu__list li {
  break-inside: avoid;
}

.one-links .main-nav__item {
  display: block;
}

.sub-menu--wrap {
  margin-top: 20px;
}

.content {
  margin-top: 30px;
}

.content > div {
  margin: 45px 0;
}

.main-slider__slide:not(:first-child) {
  margin-top: 20px;
}

.main-slider__slide-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.main-slider__slide-btn {
  margin-top: 10px;
}

.main-slider__slide-btn a {
  text-decoration: underline;
}

.help__list {
  display: flex;
  margin-top: 50px;
}

.help__item {
  font-size: 1.5625rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.help__item:not(:first-child) {
  margin-left: 30px;
}

.help__item br {
  display: none;
}

.title__block, .titile-block {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.more__link {
  text-decoration: underline;
}

.services {
  margin-top: 30px;
  margin-bottom: 30px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.services__item {
  display: flex;
  align-items: center;
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
  padding: 1.4rem;
  border: 1px solid #000;
}

.services__more {
  margin-top: 20px;
}

.about__more {
  margin-top: 20px;
}

.specialist {
  margin: 30px 0;
}

.specialist__item {
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
  border: 1px solid #000;
  padding: 1.4rem;
}

.specialist__name {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.specialist__more {
  margin-top: 20px;
}

.specialist__img {
  display: none;
}

.specislist__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.news__item {
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
}

.news__data {
  margin-bottom: 10px;
}

.news__text {
  font-size: 1.125rem;
}

.news__more {
  margin-top: 20px;
}

.city-area__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.city-area__item {
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
  padding: 1.4rem;
  border: 1px solid #000;
}

.city-area__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.city-area__link {
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline;
}

.footer {
  margin-top: 40px;
}

.footer__bot {
  margin: 20px 0;
}

.footer__bot .wrapper {
  display: flex;
  justify-content: space-between;
}

.dev {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.dev__img {
  display: inline-block;
  filter: invert(1);
  margin-left: 15px;
}

.title-block__cont {
  margin: 30px 0;
}

.title-block__cont a {
  text-decoration: underline;
}

.title-block__cont a, .title-block__cont span {
  font-size: 1.125rem;
  font-weight: 500;
}

#appointment, #consultation {
  display: none;
}

#appointment > div, #consultation > div {
  width: 960px;
  margin: 0 auto;
}

.services-inner {
  margin-bottom: 30px;
}

.services-inner__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.services-inner__item {
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
  padding: 1.4rem;
  border: 1px solid #000;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.gallery__item {
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
  padding: 1.4rem;
  border: 1px solid #000;
}

.gallery__data {
  margin-bottom: 10px;
}

.gallery__title {
  font-weight: bold;
}

.text-page iframe {
  display: none;
}

.paginator {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.paginator__link {
  padding: 10px;
}

.basepage__slider {
  display: none;
}

.basepage__image.image--right {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.basepage__image.image--right:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  height: 8px;
  width: 8px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(-45deg);
}

.text-page {
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.text-page > *:not(:first-child) {
  margin-top: 25px;
}

.text-page strong {
  font-weight: bold;
}

.text-page h2, .text-page h3, .text-page h4, .text-page h5, .text-page h6 {
  font-weight: 300;
}

.text-page h2 {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.text-page h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.text-page h4, .text-page h5 {
  line-height: 1.5rem;
}

.text-page h4 {
  font-size: 1.125rem;
}

.text-page h5 {
  font-size: 1rem;
}

.text-page img[align="right"] {
  float: right;
  margin-left: 20px;
}

.text-page img[align="left"] {
  float: left;
  margin-right: 20px;
}

.text-page blockquote {
  border-left: 2px solid #31c5bd;
  padding-left: 21px;
}

.text-page table {
  width: 100%;
  table-layout: fixed;
  color: #000;
}

.text-page table td, .text-page table th {
  padding: 15px 23px;
  font-weight: 300;
  vertical-align: middle;
}

.text-page table[border="1"] td, .text-page table[border="1"] th {
  border: 1px solid #e4e8ea;
}

.text-page ul, .text-page ol {
  max-width: 650px;
  margin-top: 0 !important;
}

.text-page li {
  position: relative;
}

.text-page li:before {
  display: inline-block;
}

.text-page li ul, .text-page li ol {
  margin-bottom: 20px;
}

.text-page li li {
  padding-left: 20px;
}

.text-page li li:not(:first-child) {
  margin-top: 0;
}

.text-page ul {
  margin-bottom: 30px;
}

.text-page ul li:before {
  content: "";
  background: #000;
  width: 12px;
  height: 1px;
  vertical-align: middle;
  margin: 0 14px 4px 0;
}

.text-page ul ul li:before {
  content: "-";
  height: auto;
  width: auto;
  background: none;
  margin: 0 5px 5px 0;
}

.text-page ol {
  counter-reset: i;
}

.text-page ol li {
  counter-increment: i;
}

.text-page ol li:before {
  content: counter(i) ".";
  margin-right: 4px;
}

.text-page dt, .text-page dd {
  display: inline;
  font-style: italic;
}

.text-page blockquote {
  position: relative;
  display: inline;
}

.text-page blockquote:before {
  content: "\201c";
  left: -20px;
  top: -15px;
  position: absolute;
  font-size: 40px;
  color: #323c8d;
}

.text-page blockquote:after {
  content: "\201c";
  right: -20px;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  color: #323c8d;
}

.block-btn {
  display: flex;
}

.btn--main {
  border: 1px solid #000;
  padding: 15px 20px;
  line-height: 1;
  margin-bottom: 20px;
}

.btn--main:not(:first-child) {
  margin-left: 29px;
}

.consultation__item:not(:first-child) {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.consultation__info {
  margin-top: 10px;
}

.consultation__name {
  font-weight: bold;
  margin-bottom: 5px;
}

.consultation__data {
  margin-bottom: 5px;
}

#map {
  display: none;
}

.map-info__list {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.map-info__item {
  padding: 1.4rem;
  border: 1px solid #000;
}

.map-info__item:not(:first-child) {
  margin-left: 30px;
}

.map-info__scheme {
  display: inline-block;
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

.news__item-inner {
  display: block;
}

.news__item-inner:not(:first-child) {
  margin-top: 30px;
}

.news__text {
  font-size: 1.125rem;
}

.download-file__item:not(:first-child) {
  margin-top: 30px;
}

.download-file .btn {
  border-bottom: 1px solid #000;
}

.download-btn {
  margin-top: 10px;
}

.download-file__list .btn {
  border-bottom: 1px solid #000;
}

.clinik-info {
  margin-top: 30px;
}

.clinik-info__title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.clinik-address p {
  line-height: 1.3;
}

.personal__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -30px;
}

.personal__item {
  width: calc((100% - 30px * 3) / 3);
  margin: 0 0 30px 30px;
  border: 1px solid #000;
  padding: 1.4rem;
}

.personal__name {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
}

.testemonials__item {
  padding: 1.4rem;
  border: 1px solid #000;
}

.testemonials__item:not(:first-child) {
  margin-top: 30px;
}

.testemonials__top-btn {
  display: none;
}

.testemonials__name {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.testemonials__location {
  margin-bottom: 10px;
}

.testemonials-detail__item {
  padding: 1.4rem 1.4rem 1.4rem 3rem;
  border-top: 1px solid #000;
  margin-top: 20px;
}

.testemonials-detail__item-user {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.testemonials-detail__item-date {
  margin-top: 15px;
}

.testemonials-detail__item-stat {
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.testemonials-detail__item-text {
  line-height: 1.4;
}

.paginator__el.active {
  border-bottom: 1px solid #000;
}

.map-info__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.root-item-selected {
  border-bottom: 1px solid #000;
}

.item-selected a {
  border-bottom: 1px solid #000;
}

/*# sourceMappingURL=special.css.map */
