.title-block__cont
	.wrapper
		.titile-block
			.title-block__crumbs
				.bread-crumbs
					a.bread-crumbs__link(href='#') Главная
					a.bread-crumbs__link(href='#') Галерея
					span.title-block__title Диспансеризация животных в контактном зоопарке