html
	head
		meta(charset="utf-8")
		title Сотрудники
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			.mobile-menu
			#content
				include inc/header-inner.jade
				include inc/breadcrambs.jade
				.content
					.wrapper
						.block-btn
							.btn--main
								a.btn.btn--consultation.fancybox(href="#") Получить консультацию 
							.btn--main
								a.btn.btn--question(href="#") Часто задаваемые вопросы
						section.consultation
							ul.consultation__list
								li.consultation__item
									.consultation__top
										.consultation__text
											.consultation__data 20.09.2017
											.consultation__name Вопрос: Алексей
											.consultation__text.text-page 
												p Добрый вечер. Нашей кошке уже 1 год. Порода: Шотландская вислоухая. Какие самые необходимые прививки нужно сделать и сколько это примерно будет стоить? Спасибо.  

									.consultation__info
										.consultation__text
											.consultation__name Ответ: Администратор
											.consultation__text.text-page 
												p Здравствуйте. За 10 дней до вакцинации кошку необходимо обработать от гельминтов ветеринарным препаратом для кошек строго по весу животного однократно. Привить лучше комплексной вакциной от ряда инфекционных болезней и бешенства. Стоимость вакцинации вместе с вакциной от 1000 до 1400 рублей (в зависимости от стоимости
								li.consultation__item
									.consultation__top
										.consultation__text
											.consultation__data 20.09.2017
											.consultation__name Вопрос: Алексей
											.consultation__text.text-page 
												p Добрый вечер. Нашей кошке уже 1 год. Порода: Шотландская вислоухая. Какие самые необходимые прививки нужно сделать и сколько это примерно будет стоить? Спасибо.  

									.consultation__info
										.consultation__text
											.consultation__name Ответ: Администратор
											.consultation__text.text-page 
												p Здравствуйте. За 10 дней до вакцинации кошку необходимо обработать от гельминтов ветеринарным препаратом для кошек строго по весу животного однократно. Привить лучше комплексной вакциной от ряда инфекционных болезней и бешенства. Стоимость вакцинации вместе с вакциной от 1000 до 1400 рублей (в зависимости от стоимости 
												p Здравствуйте. За 10 дней до вакцинации кошку необходимо обработать от гельминтов ветеринарным препаратом для кошек строго по весу животного однократно. Привить лучше комплексной вакциной от ряда инфекционных болезней и бешенства. Стоимость вакцинации вместе с вакциной от 1000 до 1400 рублей (в зависимости от стоимости 
												p Здравствуйте. За 10 дней до вакцинации кошку необходимо обработать от гельминтов ветеринарным препаратом для кошек строго по весу животного однократно. Привить лучше комплексной вакциной от ряда инфекционных болезней и бешенства. Стоимость вакцинации вместе с вакциной от 1000 до 1400 рублей (в зависимости от стоимости 
												p Здравствуйте. За 10 дней до вакцинации кошку необходимо обработать от гельминтов ветеринарным препаратом для кошек строго по весу животного однократно. Привить лучше комплексной вакциной от ряда инфекционных болезней и бешенства. Стоимость вакцинации вместе с вакциной от 1000 до 1400 рублей (в зависимости от стоимости 

								
							include inc/paginator.jade

			include inc/footer.jade
		include inc/scripts.jade