html
	head
		meta(charset="utf-8")
		title Услуги
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			.mobile-menu
			#content
				include inc/header-inner.jade
				include inc/breadcrambs.jade
				.content
					.map
						img(src="img/map.png", alt="маркер imgico-marker.png")
						.map-info
							.map-info__list
								.map-info__item.active
									.map-info__title Центральный и курчатовский район
									address.map-info__contacts 
										a.map-info__phone(href="tel:8(351)214-14-14") 8 (351) 214-14-14
										span.map-info__address Свердловский тракт, 18а
									a.map-info__scheme(href="#") Скачать схему проезда
									.triangle
								.map-info__item
									.map-info__title Центральный и курчатовский район
									address.map-info__contacts 
										a.map-info__phone(href="tel:8(351)214-14-14") 8 (351) 214-14-14
										span.map-info__address Свердловский тракт, 18а
									a.map-info__scheme(href="#") Скачать схему проезда
									.triangle
								.map-info__item
									.map-info__title Центральный и курчатовский район
									address.map-info__contacts 
										a.map-info__phone(href="tel:8(351)214-14-14") 8 (351) 214-14-14
										span.map-info__address Свердловский тракт, 18а
									a.map-info__scheme(href="#") Скачать схему проезда
									.triangle
					.wrapper.wrapper-aside 
						aside.aside
							figure.contacts-img
								img(src="img/photos/area-kal.jpg", alt="")
								figcaption.contacts-description Центральный и Курчатовский районы
						section.contacts
							.contacts__right
								.text-page 
									p Ветеринарная клиника оказывающая услуги по Центральному и Курчатовскому району расположена по адресу: Свердловский тракт, 18 А и является центральным подразделением Областного государственного учреждения «Челябинская ветстанция». Весь спектр оказываемых услуг нашего учреждения можно получить ежедневно с 8:30 до 20:00, без обеденного перерыва и праздничных дней.
									p Постоянно развиваясь и совершенствуясь, мы достигли больших успехов во многих областях ветеринарии, что подтверждается спектром наших услуг: терапия, хирургия и травматология, кардиология, визуальная диагностика, рентгенодиагностика, физиотерапия, лабораторная диагностика, вакцинация, консультационные услуги.
									p Посетив нас с любой проблемой Вашего питомца в течении одного дня можно досконально и углубленно разобраться с возникшим заболеванием, получить консультацию и помощь всего персонала клиники.
									p В нашей ветеринарной аптеке вы всегда найдете не только современные медицинские препараты, но и большое количество сопутствующих товаров (лечебные корма, добавки, витамины и аксессуары для животных).
									p Врачи клиники проходят специальное обучение, постоянно повышая свой профессиональный уровень, посещая лекции, семинары, конференции и мастер-классы проводимые ведущими клиниками и учебными заведениями.
									p Задать интересующие Вас вопросы о работе нашей ветклиники Вы можете по телефонам: 8 (351) 214-14-14, или на нашем сайте.
									p Мы всегда готовы предложить вам высококвалифицированную ветеринарную и консультационную помощь.
									p Нашей ветеринарной клинике к каждому пациенту проявляется максимум внимания и делается всё возможное и даже больше, чтобы Ваш любимец был весел и здоров!
									p Помните, что домашние животные и человек имеют много общих возбудителей заболеваний. Заботясь о здоровье своих питомцев, Вы заботитесь и о своем здоровье.
							
								.transport
									.transport__title Остановка «Ветлечебница»
									.transport__info
										.transport-car.transport--mini-bus 8, 13, 15, 24, 35а, 41,44, 45, 47, 51,53a, 60, 69, 71, 73, 75, 79, 81, 82, 90, 92, 95, 98
										.transport-car.transport--bus 15, 31, 71
										.transport-car.transport--trolleybus 3, 14, 19, 20, 21
										.transport-car.transport--tram 7, 14, 15






			include inc/footer.jade
		include inc/scripts.jade